# Pandas: Importing and Exporting

## Importing and Exporting DELIMITED FILES

### Comma separated values (CSV) files

A file that is separated (or delimited) by commas (or anything else)

Example:
    
**-- comma separated file --**

    name,year,value
    Andre,2020,100
    Fernanda,1900,1
    
**-- tab separated file --**

    name    year    value
    Andre    2020    100
    Fernanda    1900    1
    
**-- tab separated file (another way) --**

    name\tyear\tvalue
    Andre\t2020\t100
    Fernanda\t1900\t1
    
**-- hash separated file --**

    name#year#value
    Andre#2020#100
    Fernanda#1900#1

**-- pipe separated file --**

    name|year|value
    Andre|2020|100
    Fernanda|1900|1

    ...

# Import comma-separated values file - csv (the default)

In [1]:
import pandas as pd

In [2]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
!cd

C:\Users\TD\Ironhack\ironhack-bootcamp\ironhack-bootcamp\Week2\Day 2\Classes

In [4]:
# relative path

df = pd.read_csv('data/vehicles.csv')

In [5]:
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [6]:
banana = pd.read_csv('data/vehicles.csv')

In [7]:
banana

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [8]:
df.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [9]:
df.tail()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.0,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.0,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.0,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.0,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.0,1150

In [10]:
df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [ ]:
# relative path
pd.read_csv('../3_Pandas_Import_Export/data/vehicles.csv')

In [ ]:
!pwd

In [ ]:
# absolute path
pd.read_csv('/Users/andreaguiar/Desktop/usr/dev/ironhack/ft202002/classes/week2/4_Pandas_Import_Export/data/vehicles.csv')

In [ ]:
# pd.read_csv('C:/Users/andreaguiar/Desktop/usr/temp/results.csv')

In this way, the `pd.read_csv()` method is just outputing the results on screen.

If I wanted to store it in a variable I would have to **assign** this result into a variable

In [ ]:
pd.read_csv('data/vehicles.csv')

In [ ]:
vehicles = pd.read_csv('data/vehicles.csv')

In [ ]:
vehicles

## Import tab-delimited file

In [ ]:
# ParserError

pd.read_csv('data/vehicles_tab.txt')

In [ ]:
pd.read_csv('data/vehicles_tab.txt', sep=';')

In [ ]:
pd.read_csv('data/vehicles_tab.txt', sep='\t')

## Import pipe delimited file

In [ ]:
pd.read_csv('data/vehicles_pipe.txt')

In [ ]:
pd.read_csv('data/vehicles_pipe.txt', sep=';')

In [ ]:
df = pd.read_csv('data/vehicles_pipe.txt', sep='|')
df.head()

## Import hash delimited file

In [ ]:
# hash
df = pd.read_csv('data/vehicles_hash.txt', sep='#')
df.head()

# Importing files from URLs

Example: https://github.com/rfordatascience/tidytuesday

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-07-07/coffee_ratings.csv')
df.head()

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-14/passwords.csv')
df.describe()

## Problems you may encounter: Encoding

`encoding` refers to how the strings are represented under the hood

- specifying 
```python 
encoding = 'latin1'
```  
usually handles problems refering to strings with accents

In [ ]:
pd.read_csv('data/CSV.8859-1.csv', )

In [ ]:
df = pd.read_csv('data/CSV.8859-1.csv', encoding='latin1', sep=';')

# Importing Excel Files

In [ ]:
# read_csv wont work here
pd.read_csv('data/vehicles.xlsx', encoding='latin1')

In [ ]:
# !pip install xlrd

In [ ]:
pd.read_excel('data/vehicles.xlsx')

## Read from specific excel sheet

In [ ]:
df = pd.read_excel('data/dados_artigo1.xlsx', sheet_name='dataset')
df.head()

### Extra: merged cells

In [ ]:
pd.read_excel('data/dados_artigo1.xlsx', sheet_name='PT', usecols='O:W', header=1, skiprows=[2,3])

# Exporting datasets

## Export TO CSV

In [ ]:
df.head()

In [ ]:
df.to_csv('data/exported_file_v1.csv')

In [ ]:
df.to_csv('data/exported_file_v1.csv', index=False)

In [ ]:
pd.read_csv('data/exported_file_v1.csv')

In [ ]:
# pd.read_csv('data/exported_file_v2.csv', index_col=0)

**NOTE**: If you do not specify the argument `index=False`, the output in the csv file will create an unnamed index column with the *dataframe indexes*.

In [ ]:
df.to_csv('data/exported_file.csv', index=False)

## Export to csv using a specific separator

### Semicolon

In [ ]:
df.to_csv('data/exported_file_semicolon.csv', index=False, sep=';')

### Pipe

In [ ]:
df.to_csv('data/exported_file_pipe.csv', index=False, sep='|')

### plust or minus

In [ ]:
df.to_csv('data/exported_file_plusminus.csv', index=False, sep='±')

## Export TO EXCEL

In [ ]:
df.to_excel('data/aldrey_treated_newversion.xlsx', sheet_name='treated')

## Cool Application: Google Sheets

- get the shareable link and replace the last piece of the url 
    - replace `/edit?usp=sharing` by `/export?format=csv`
    
(https://stackoverflow.com/questions/19611729/getting-google-spreadsheet-csv-into-a-pandas-dataframe)

In [ ]:
def read_from_gsheets(spreadsheet):
    """
    Transform url into csv 
    """
    working_spreadsheet = spreadsheet.replace('/edit?usp=sharing','/export?format=csv')
    
    return pd.read_csv(working_spreadsheet)

In [ ]:
read_from_gsheets('https://docs.google.com/spreadsheets/d/15ohJDdOfPuiF0q2-LvAhiKCZI54R-tfGqKFq9iGCfaA/edit?usp=sharing')

-------

# Import and export JSON files

What is a JSON file?

JSON 1:
```json
{ "name":"John", "age":30, "car":null }
```

JSON 2: 
```json
{"students":[
   {"name":"Andre", "age":23, "state":"SP"},
   {"name":"Rodrigo", "age":28, "state":"SP"},
   {"name":"Raiana", "age":32, "state":"DF"},
   {"name":"Tieko", "age":28, "state":"BA"}
]}
```

In [ ]:
data = pd.read_json('data/vehicles.json')

In [ ]:
data.head()

For a JSON file, you can have different `orient` options.

`'split'`: Dictionary containing indexes, columns, and data.

`'index'`: Nested dictionaries containing {index:{column:value}}.

`'columns'`: Nested dictionaries containing {column:{index:value}}

`'values'`: Nested list where each sublist contains the values for a record.

`'table'`: Nested dictionaries containing schema and data (records).

In [ ]:
data.sample(10)

In [ ]:
data.sample(10).to_json('data/vehicles_split.json', orient='split')
data.sample(10).to_json('data/vehicles_index.json', orient='index')
data.sample(10).to_json('data/vehicles_columns.json', orient='columns')
data.sample(10).to_json('data/vehicles_values.json', orient='values')
data.sample(10).to_json('data/vehicles_table.json', orient='table')