In [ ]:
import numpy as np
import pandas as pd
# ^^^ pyforest auto-imports - don't write above this line
import re
import numpy as np
import pandas as pd

# Function definitions

Broken into tokens:

> <b>def </b>
- Tell python that you're starting to create a function

> <b>function_name</b>
- you give that function a name for a future call

> <b>(</b>
- Open parenthesis to give arguments (or variables) that you'll use in that functions. These helps you parametrize code.

> <b>[OPTIONAL] arg1, arg2, arg3, ... </b>
- The arguments of that function

> <b>)</b>
- CLose parenthesis to say you're done creating arguments

> <b>:</b>
- colon to say you're about to start a `code block`

> <b>code block</b>
- where you effectively do something with (or without) the arguments

> <b>return</b>
- The return statement tells you're done with the function. Whether you'll return something from that or not is optional

> <b>[OPTIONAL] something</b>
- The `something` you're allowed to retur.

```python
def function_name(arg1):
    something = arg1 + 10
    return something
```

In [1]:
def function_name(arg1):
    something = arg1 + 10
    return something

function_name(30)

40

# What is a lambda function?

https://realpython.com/python-lambda/


> Named after `lambda calculus`.

> Usually refers to `anonymous functions`

## Defining lambda functions

In [2]:
lambda x : x/2

In [3]:
lambda arg1 : arg1 + 10

In [4]:
(lambda arg1 : arg1 + 10)

In [ ]:
(lambda arg1 : arg1 + 10)(35)

In [5]:
function_name = lambda arg1 : arg1 + 10

In [6]:
function_name(30)

40

In [7]:
# map

example_list = [1,4,5,8]

In [8]:
def half(x):
    return x / 2

In [9]:
list(map(half, example_list))

[0.5, 2.0, 2.5, 4.0]

In [10]:
list(map(lambda x: x/2, example_list))

[0.5, 2.0, 2.5, 4.0]

## More than 1 argument

In [11]:
def my_sum(a , b):
    return a + b

In [13]:
add_args = lambda a, b : a + b
add_args(10, 20)

30

In [14]:
from functools import reduce

In [15]:
example_list

[1, 4, 5, 8]

In [16]:
reduce(lambda x,y: x+y, example_list)

18

In [18]:
(lambda x : x + int(input()))(10)

10

20

## Conditions

In [19]:
def safe_div(num, denom):
    """
    Return the division of num by denom. 
    In case denom is 0, return 0
    """
    if denom != 0:
        return num/denom
    else:
        return 0

In [20]:
9/0

ZeroDivisionError: division by zero

In [21]:
safe_div(9, 0)

0

In [22]:
[('ANDRE' if item > 5 else 'JOAO') for item in range(10)]

['JOAO',
 'JOAO',
 'JOAO',
 'JOAO',
 'JOAO',
 'JOAO',
 'ANDRE',
 'ANDRE',
 'ANDRE',
 'ANDRE']

In [ ]:
(lambda num, denom: num / denom if (denom != 0) else 0)(9, 0)

# Applications

## map

In [ ]:
example_list = [1,4,6,7,10,31,13]

In [ ]:
def half(x):
    return x/2

In [ ]:
list(map(half, example_list))

In [ ]:
list(map(lambda x : x/2, example_list))

## filter

In [ ]:
def check_if_even(x):
    if x % 2 == 0:
        return True
    else:
        return False
    
# def check_if_even(x):
#     return x % 2 == 0

In [ ]:
example_list

In [ ]:
list(filter(check_if_even, example_list))

In [ ]:
list(filter(lambda x : x % 2 == 0, example_list))

## Using lambdas to order stuff

In [ ]:
school_dash = ['Calclulus', 'Philosophy', 'Art-History', 'Computer-Science']

In [ ]:
sorted(school_dash)

In [ ]:
sorted(school_dash, key=lambda x : x[-2], reverse=True )

In [ ]:
def get_last_letter(x):
    return x[-1]

In [ ]:
sorted(school_dash, key=get_last_letter, reverse=True)

In [ ]:
nomes = ['Andre Aguiar','Pablo Vitar', 'Luis Inacio','Carlos Santana','Ronaldo Gaucho']

In [ ]:
sorted(nomes)

In [ ]:
'Andre Aguiar'.split()[-1][0]

In [ ]:
sorted(nomes, key=lambda x : x.split()[-1][0])

In [ ]:
def get_last_letter_surname(x):
    return x.split()[-1][-1]

In [ ]:
get_last_letter_surname('Andre Bguiar')

In [ ]:
sorted(nomes, key=get_last_letter_surname)

In [ ]:
sorted(nomes, key=lambda nome : nome.split()[-1][0])

# Ordering a dictionary by its values

In [25]:
my_dict = {'Andre': 80, 
           'Joao' : 90 , 
           'Pedro': 80, 
           'Carla': 70, 
           'Maria': 80, 
           'Aurora' : 80, 
           'Camila': 60}

In [26]:
my_dict

{'Andre': 80,
 'Joao': 90,
 'Pedro': 80,
 'Carla': 70,
 'Maria': 80,
 'Aurora': 80,
 'Camila': 60}

In [27]:
my_dict.items()

dict_items([('Andre', 80), ('Joao', 90), ('Pedro', 80), ('Carla', 70), ('Maria', 80), ('Aurora', 80), ('Camila', 60)])

In [28]:
list(my_dict.items())

[('Andre', 80),
 ('Joao', 90),
 ('Pedro', 80),
 ('Carla', 70),
 ('Maria', 80),
 ('Aurora', 80),
 ('Camila', 60)]

In [29]:
sorted( my_dict.items())

[('Andre', 80),
 ('Aurora', 80),
 ('Camila', 60),
 ('Carla', 70),
 ('Joao', 90),
 ('Maria', 80),
 ('Pedro', 80)]

In [30]:
sorted(my_dict.items(), key=lambda x : x[1])

[('Camila', 60),
 ('Carla', 70),
 ('Andre', 80),
 ('Pedro', 80),
 ('Maria', 80),
 ('Aurora', 80),
 ('Joao', 90)]

# Pandas apply

In [35]:
import pandas as pd
import numpy as np

In [36]:
from tqdm.auto import tqdm
tqdm.pandas(desc="Applying transformation")

C:\Users\TD\anaconda3\lib\site-packages\tqdm\std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [37]:
def create_sample_dataframe(n_rows=1000000, n_cols=1):
    """
    Create a pandas dataframe containing n_rows rows and n_cols columns
    and mess up with it by changing the dots (.) by commas (,).
    """
    cpf = np.random.randint(1, 999999999, size=n_rows)
    variables = {f'column_{col_number}': np.random.random(n_rows) for col_number in range(n_cols)}
    variables.update({'CPF': cpf})  

    return pd.DataFrame(variables).applymap(lambda x : str(x).replace('.',','))

df = create_sample_dataframe()

In [38]:
df.column_0.progress_apply(lambda x : x.replace(',','.')).astype(float)

HBox(children=(FloatProgress(value=0.0, description='Applying transformation', max=1000000.0, style=ProgressSt…

0         0.318827
1         0.499554
2         0.710056
3         0.958206
4         0.234669
            ...
999995    0.471143
999996    0.642882
999997    0.816535
999998    0.146147
999999    0.723873
Name: column_0, Length: 1000000, dtype: float64

In [43]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/62f97ae1f8896b6b8e4bb08dcf65a07e0502aa8a/data/2020/2020-05-05/user_reviews.tsv', sep='\t')
df

,grade,user_name,text,date
0,4,mds27272,My gf started playing before me. No option to ...,2020-03-20
1,5,lolo2178,"While the game itself is great, really relaxin...",2020-03-20
2,0,Roachant,My wife and I were looking forward to playing ...,2020-03-20
3,0,Houndf,We need equal values and opportunities for all...,2020-03-20
4,0,ProfessorFox,BEWARE! If you have multiple people in your h...,2020-03-20
...,...,...,...,...
2994,1,TakezoShinmen,1 Island for console limitation.I cannot play ...,2020-05-03
2995,1,Pikey17,"Per giocare con figli o fidanzate, mogli o per...",2020-05-03
2996,0,Lemmeadem,One island per console is a pathetic limitatio...,2020-05-03
2997,2,TandemTester938,Even though it seems like a great game with ma...,2020-05-03
2998,4,DwerG,Game is fantastic.Nintendo deciding that you c...,2020-05-03

In [39]:
import re

In [44]:
# find all uppercase 
pattern = '\w[A-Z]+'

df['text-warning'] = df.text.apply(lambda x: re.findall(pattern, x))

In [46]:
df

,grade,user_name,text,date,text-warning
0,4,mds27272,My gf started playing before me. No option to ...,2020-03-20,[SUCKS]
1,5,lolo2178,"While the game itself is great, really relaxin...",2020-03-20,[eW]
2,0,Roachant,My wife and I were looking forward to playing ...,2020-03-20,"[nM, EA]"
3,0,Houndf,We need equal values and opportunities for all...,2020-03-20,[]
4,0,ProfessorFox,BEWARE! If you have multiple people in your h...,2020-03-20,"[BEWARE, ONLY, ONE, ONE, AND, THEY, CANT, BEWA..."
...,...,...,...,...,...
2994,1,TakezoShinmen,1 Island for console limitation.I cannot play ...,2020-05-03,[]
2995,1,Pikey17,"Per giocare con figli o fidanzate, mogli o per...",2020-05-03,"[BASE, NON, CONDIVISIONE, eP, BASE, NON, CONDI..."
2996,0,Lemmeadem,One island per console is a pathetic limitatio...,2020-05-03,[]
2997,2,TandemTester938,Even though it seems like a great game with ma...,2020-05-03,[]
2998,4,DwerG,Game is fantastic.Nintendo deciding that you c...,2020-05-03,[]