# Before your start:
- Comment as much as you can
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [4]:
# Your code here:
def count_numbers(arr):
    return sum([1 for item in arr])

In [5]:
count_numbers([1,2312321,31232131,12321321312])

4

Create a function that returns the mean of a list of numbers

In [8]:
# Your code here:
def mean_numbers(arr):
    return np.mean([item for item in arr])

In [10]:
mean_numbers([312321,3123213,3213213, 7310982,31208322])

9033610.2

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [11]:
# Your code here:
def std_numbers(arr):
    return (sum([(item - mean_numbers(arr))**2 for item in arr])/count_numbers(arr))**0.5

In [17]:
std_numbers([5,10,5,10,5,10])==np.std([5,10,5,10,5,10])

True

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [18]:
# Your code here:

def basic_stat(arr):
    '''Returns basic statistic data from the array, including its count, mean and std dev'''
    counta = len(arr)
    mean = np.mean(arr)
    stddev = np.std(arr)
    return (counta, mean, stddev)

In [19]:
basic_stat([10,10,15,20,25,30])

(6, 18.333333333333332, 7.4535599249993)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [20]:
import re

In [57]:
# Your code here:
def clean_string(arg1):
    cstring = arg1.lower()
    #print(cstring)
    cstring = re.sub('[^A-Za-z]', "", cstring)
    #print(cstring)
    return ''.join(sorted(list(cstring)))

In [58]:
clean_string('Paixao2')

paixao2
paixao

'aaiopx'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [63]:
# Your code here:
def class_age(age):
    if age < 3:
        return 'baby'
    elif age < 10:
        return 'child'
    elif age < 20:
        return 'teenager'
    elif age < 65:
        return 'adult'
    elif age >= 65:
        return 'senior'

In [64]:
class_age(65)

'senior'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [65]:
# Your code here:
def ask_age(age):
    return age if age <= 150 and age>=0 else ask_age

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [0]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [0]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [0]:
import pandas as pd

In [0]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [0]:
# Your code here:

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [0]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [0]:
# Your code here:

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [0]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [0]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [0]:
# Your code here: