# Before your start:
- Comment as much as you can
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [4]:
# Your code here:
def count_numbers(arr):
    return sum([1 for item in arr])

In [5]:
count_numbers([1,2312321,31232131,12321321312])

4

Create a function that returns the mean of a list of numbers

In [8]:
# Your code here:
def mean_numbers(arr):
    return np.mean([item for item in arr])

In [10]:
mean_numbers([312321,3123213,3213213, 7310982,31208322])

9033610.2

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [11]:
# Your code here:
def std_numbers(arr):
    return (sum([(item - mean_numbers(arr))**2 for item in arr])/count_numbers(arr))**0.5

In [17]:
std_numbers([5,10,5,10,5,10])==np.std([5,10,5,10,5,10])

True

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [18]:
# Your code here:

def basic_stat(arr):
    '''Returns basic statistic data from the array, including its count, mean and std dev'''
    counta = len(arr)
    mean = np.mean(arr)
    stddev = np.std(arr)
    return (counta, mean, stddev)

In [19]:
basic_stat([10,10,15,20,25,30])

(6, 18.333333333333332, 7.4535599249993)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [20]:
import re

In [57]:
# Your code here:
def clean_string(arg1):
    cstring = arg1.lower()
    #print(cstring)
    cstring = re.sub('[^A-Za-z]', "", cstring)
    #print(cstring)
    return ''.join(sorted(list(cstring)))

In [203]:
clean_string('jdsaojsapojas.dsa2132139821031kdas;l,dsa.d.')

jdsaojsapojas.dsa2132139821031kdas;l,dsa.d.
jdsaojsapojasdsakdasldsad

'aaaaaadddddjjjkloopssssss'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [63]:
# Your code here:
def class_age(age):
    if age < 3:
        return 'baby'
    elif age < 10:
        return 'child'
    elif age < 20:
        return 'teenager'
    elif age < 65:
        return 'adult'
    elif age >= 65:
        return 'senior'

In [64]:
class_age(65)

'senior'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [74]:
# Your code here:
def ask_age():
    age = int(input('What is your age?'))
    return 'Your age is ' + str(age) if (age <= 150 and age>=0) else ask_age()

In [76]:
ask_age()

What is your age?200
What is your age?300
What is your age?400
What is your age?25

'Your age is 25'

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [82]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def alpha():
    return ', '.join(sorted(buzz.split(', ')))

In [83]:
alpha()

'AI, Big Data, Data Warehouse, Machine Learning, Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [95]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

In [97]:
def beta():
    global buzz
    buzz = ', '.join(sorted(buzz.split(', ')))
beta()
print(buzz)

AI, Big Data, Data Warehouse, Machine Learning, Pipeline

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [98]:
import pandas as pd

In [99]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [100]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [107]:
#print([item for item in iris_numeric.columns], [np.mean(iris_numeric[item]) for item in iris_numeric])

np.mean(iris_numeric)

#mean of each numeric column (other than ID) is shown

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [110]:
np.std(iris_numeric)
#stddev of each numeric column (other than ID) is shown

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [113]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return x * 0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [118]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [119]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    global error
    return x + error

In [120]:
iris_constant = add_constant(iris_numeric)
iris_constant.head()

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [200]:
# Your code here:
def max_columns(df):
    return pd.DataFrame(data=[[max(df[item]) for item in df]], columns = list('Max_' + iris_numeric.columns))

In [201]:
max_columns(iris_numeric)

,Max_sepal_length,Max_sepal_width,Max_petal_length,Max_petal_width,Max_total_length,Max_total_width
0,5.4,3.9,1.7,0.4,7.1,4.3

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [167]:
# Your code here:
def total_lenghts_widths(df):
    new_df = df
    new_df['total_length'] = new_df['sepal_length'] + new_df['petal_length']
    new_df['total_width'] = new_df['sepal_width'] + new_df['petal_width']
    return new_df

In [168]:
total_lenghts_widths(iris_numeric)

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8
5,5.4,3.9,1.7,0.4,7.1,4.3
6,4.6,3.4,1.4,0.3,6.0,3.7
7,5.0,3.4,1.5,0.2,6.5,3.6
8,4.4,2.9,1.4,0.2,5.8,3.1
9,4.9,3.1,1.5,0.1,6.4,3.2