# Lab-Data-Manipulation - Filtering Data

In [1]:
import pandas as pd

# Context 

For this lab you'll use a dataset for UFO observations. The objective is to exercise the manipulation of a dataframe, so we'll use the tools we've learned about `reading`, `renaming`, `selecting specific columns`, `filtering based on conditions` and `merging` dataframes to try to better understand our dataset and store an enriched version of our dataset at the end.

Good Luck.

variable	|class|	description
------------|-----|-------------
date_time	|datetime (mdy h:m)	| Date time sighting occurred
city_area	|character	        | City or area of sighting
state	    |character          |	state/region of sighting
country	    |character          |	Country of sighting
ufo_shape	|character          |	UFO Shape
encounter_length	|double     |	Encounter length in seconds
described_encounter_length	|character |	Encounter length as described (eg 1 hour, etc)
description	|character          |	Description of encounter
date_documented	|character      |	Date documented
latitude	|double             |	Latitude
longitude	|double             |	Longitude

## Read the dataset and store it in a dataframe called `ufo`

Pay attention at the file separator.

In [2]:
ufo = pd.read_csv('data/ufo.csv', sep=';')
ufo.head(2)

,Unnamed: 0,date,year,month,day,date_time,city_area,state,country,ufo_shape,encounter_length,described_encounter_length,description,date_documented,latitude,longitude
0,0,1949-10-10,1949,10,10,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,1,1949-10-10,1949,10,10,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082

## Check the first 6 columns of the dataframe

In [3]:
ufo.head(6)

,Unnamed: 0,date,year,month,day,date_time,city_area,state,country,ufo_shape,encounter_length,described_encounter_length,description,date_documented,latitude,longitude
0,0,1949-10-10,1949,10,10,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,1,1949-10-10,1949,10,10,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,2,1955-10-10,1955,10,10,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,3,1956-10-10,1956,10,10,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,4,1960-10-10,1960,10,10,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
5,5,1961-10-10,1961,10,10,10/10/1961 19:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889

## Check the shape of your dataframe to see how many rows and columns it has

In [5]:
ufo.shape

(80332, 16)

## Bring the date information to the beginning of the dataframe

If you check the dataframe columns, there are some information of the date at the end of the dataframe. For this task, you should reorder the columns in a way that the first few columns all show the date information. 

*Hint: Use the ufo.columns to see all the column names you have.*

In [6]:
ufo.columns

Index(['Unnamed: 0', 'date', 'year', 'month', 'day', 'date_time', 'city_area',
       'state', 'country', 'ufo_shape', 'encounter_length',
       'described_encounter_length', 'description', 'date_documented',
       'latitude', 'longitude'],
      dtype='object')

In [7]:
ufo = ufo[['Unnamed: 0', 'date', 'year', 'month', 'day', 'date_time', 'date_documented','city_area',
       'state', 'country', 'ufo_shape', 'encounter_length',
       'described_encounter_length', 'description',
       'latitude', 'longitude']]

ufo.head(2)

,Unnamed: 0,date,year,month,day,date_time,date_documented,city_area,state,country,ufo_shape,encounter_length,described_encounter_length,description,latitude,longitude
0,0,1949-10-10,1949,10,10,10/10/1949 20:30,4/27/2004,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111
1,1,1949-10-10,1949,10,10,10/10/1949 21:00,12/16/2005,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082

## Just check if you did it the right way. Take a look at the head of the dataframe again and see if the `ufo` dataframe now is reordered.

In [10]:
ufo.head(2)

,Unnamed: 0,date,year,month,day,date_time,date_documented,city_area,state,country,ufo_shape,encounter_length,described_encounter_length,description,latitude,longitude
0,0,1949-10-10,1949,10,10,10/10/1949 20:30,4/27/2004,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111
1,1,1949-10-10,1949,10,10,10/10/1949 21:00,12/16/2005,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082

## Select a piece of your dataframe. We won't work with the whole dataframe for now, just a few columns. Create a new dataframe called `ufo_vars` and select only the following columns of the `ufo` dataframe. 

`year`, `month`, `state`, `country`, `ufo_shape`, `encounter_length`

In [31]:
ufo.head(2)

,Unnamed: 0,date,year,month,day,date_time,date_documented,city_area,state,country,ufo_shape,encounter_length,described_encounter_length,description,latitude,longitude
0,0,1949-10-10,1949,10,10,10/10/1949 20:30,4/27/2004,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111
1,1,1949-10-10,1949,10,10,10/10/1949 21:00,12/16/2005,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082

In [32]:
filter_list = ['year', 'month', 'state', 'country', 'ufo_shape', 'encounter_length']
ufo_vars = ufo[filter_list]
ufo_vars.head(2)

   year  month state country ufo_shape  encounter_length
0  1949     10    tx      us  cylinder            2700.0
1  1949     10    tx     NaN     light            7200.0

Perform a *.head()* on your result to check if you did it right.

Expected output:

>
> |    |   year |   month | state   | country   | ufo_shape   |   encounter_length |
|---:|-------:|--------:|:--------|:----------|:------------|-------------------:|
|  0 |   1949 |      10 | tx      | us        | cylinder    |               2700 |
|  1 |   1949 |      10 | tx      | nan       | light       |               7200 |
|  2 |   1955 |      10 | nan     | gb        | circle      |                 20 |
|  3 |   1956 |      10 | tx      | us        | circle      |                 20 |
|  4 |   1960 |      10 | hi      | us        | light       |                900 |

## Rename the variable `encounter_length` to `encounter_seconds`. Keep using the `ufo_vars` dataset for the following tasks, unless specifically specified.

Again, check your results to check if you did it right.

Expected output:

>
>|    |   year |   month | state   | country   | ufo_shape   |   encounter_seconds |
|---:|-------:|--------:|:--------|:----------|:------------|--------------------:|
|  0 |   1949 |      10 | tx      | us        | cylinder    |                2700 |
|  1 |   1949 |      10 | tx      | nan       | light       |                7200 |
|  2 |   1955 |      10 | nan     | gb        | circle      |                  20 |
|  3 |   1956 |      10 | tx      | us        | circle      |                  20 |
|  4 |   1960 |      10 | hi      | us        | light       |                 900 |

In [34]:
ufo_vars = ufo_vars.rename({'encounter_length':'encounter_seconds'}, axis=1)
ufo_vars.head(2)

   year  month state country ufo_shape  encounter_seconds
0  1949     10    tx      us  cylinder             2700.0
1  1949     10    tx     NaN     light             7200.0

## Let's start filtering some records. Create a new dataframe called `ufo_us` and filter the `ufo_vars` dataframe bringing only the results in which the `country` is `"us"`



Expected output:

>
>|    |   year |   month | state   | country   | ufo_shape   |   encounter_seconds |
|---:|-------:|--------:|:--------|:----------|:------------|--------------------:|
|  0 |   1949 |      10 | tx      | us        | cylinder    |                2700 |
|  3 |   1956 |      10 | tx      | us        | circle      |                  20 |
|  4 |   1960 |      10 | hi      | us        | light       |                 900 |
|  5 |   1961 |      10 | tn      | us        | sphere      |                 300 |
|  7 |   1965 |      10 | ct      | us        | disk        |                1200 |

In [37]:
ufo_us = ufo_vars[ufo['country'] == 'us']
ufo_us.shape

(65114, 6)

### Use the `.query()` method to perform the same task as above

In [45]:
ufo_us_2 = ufo_vars.query('country == "us"')
ufo_us_2.shape

(65114, 6)

See which one do you prefer the most and keep using it for the exercises that follow

## For the `ufo_us` dataframe, select only the cases in which the year is in the first decade (2001-2010). Put that in a variable called `ufo_us_2000`.

Check your results.

In [48]:
ufo_us_2000 = ufo_us[(ufo_us['year']>= 2001) & (ufo_us['year'] <= 2010)]

ufo_us_2000.shape

(31910, 6)

## Try to do the same without the intermediate step of creating the `ufo_us` dataframe. That is, try to filter the dataset for the cases in which the country is "us" and the year is (2001-2010) from the original dataframe.



*Hint:* You have to make sure all of these conditions are applied simultaneously - using the `and` (or `&`) operator. Try to understand when to use the `and` and the `&` operator.

In [51]:
ufo_us_2k = ufo_us[(ufo['year']>= 2001) & (ufo['year'] <= 2010) & (ufo['country'] == 'us') ]
ufo_us_2k.shape

<ipython-input-51-70bddb73510d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ufo_us_2k = ufo_us[(ufo['year']>= 2001) & (ufo['year'] <= 2010) & (ufo['country'] == 'us') ]

(31910, 6)

## BONUS 1:  Take a look at the column named `ufo_shape`. Compare the number of triangular UFO occurrances in the US from the year 2001 up to 2010 as compared to the years of 1991 up to 2000.

*Hint: you should expect roughly ~3 times more cases for 2001-2010 than 1991-2000.*

In [52]:
# calculate the dataframe from 2001-2010 here
ufo_us_2k = ufo_us[(ufo['year']>= 2001) & (ufo['year'] <= 2010) & (ufo['country'] == 'us') ]
ufo_us_90s = ufo_us[(ufo['year']>= 1991) & (ufo['year'] <= 2000) & (ufo['country'] == 'us') ]

print(ufo_us_2k.shape[0] / ufo_us_90s.shape[0])

3.4216169847737508

<ipython-input-52-8b879963b606>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ufo_us_2k = ufo_us[(ufo['year']>= 2001) & (ufo['year'] <= 2010) & (ufo['country'] == 'us') ]
<ipython-input-52-8b879963b606>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ufo_us_90s = ufo_us[(ufo['year']>= 1991) & (ufo['year'] <= 2000) & (ufo['country'] == 'us') ]

In [ ]:
# calculate the dataframe from 1991-2000 here

How many rows does each dataset have?

## BONUS 1.1: Count how many values does each category of `ufo_shape` has. 

Expected output:

````
        light        16565
        triangle      7865
        circle        7608
        fireball      6208
        other         5649
        unknown       5584
        sphere        5387
        disk          5213
        oval          3733
        formation     2457
        cigar         2057
        changing      1962
        flash         1328
        rectangle     1297
        cylinder      1283
        diamond       1178
        chevron        952
        egg            759
        teardrop       750
        cone           316
        cross          233
        delta            7
        round            2
        crescent         2
        dome             1
        pyramid          1
        changed          1
        hexagon          1
        flare            1
        Name: ufo_shape, dtype: int64

````

In [55]:
ufo['ufo_shape'].value_counts()

light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
crescent         2
round            2
hexagon          1
flare            1
changed          1
pyramid          1
dome             1
Name: ufo_shape, dtype: int64

### Mask hints 

A `mask` is nothing more than a condition. This condition is applied to your whole dataframe (or pandas Series).
So for example, if you had a pandas Series with a variable called `Age`, you could create a mask for all people whose `Age` is less than 18 years old using the syntax:

`df['Age'] <= 18`

This would return a pandas series containing `True` and `False` values. For each index, you'd get a value of `True` or `False`.

You could save this mask in a variable, for example:

`condition = (df['Age'] <= 18)`

And then you could use that variable `condition` to select only the cases of the dataframe in which the index returned `True` using:
`df.loc[condition, :]`.


### `.query()` hints

Remember that the .query() method expects a string. That string should contain the variable of your dataframe without quotation marks and the comparison. For example, if you had a variable called `name`, you'd use a syntax like:
 `df.query('name == "Jack"')`
 
to bring all observations whose column `name` is exactly equal to `"Jack"` (note that Jack should be within quotation marks because a name is a string in this example).

In [68]:
%timeit ufo[filter_list]

12.3 ms ± 1.2 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [69]:
%timeit ufo.loc[:, filter_list]

11.9 ms ± 1.67 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [65]:
%timeit ufo[(ufo['country'] == 'us') & (ufo['year'] >= 1990)]

23 ms ± 306 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [66]:
%timeit ufo.query('country == "us" and year >= 1990')

25.7 ms ± 1.91 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)