# Strings in Python

In [1]:
type('Hello')

str

In [2]:
type("Hello")

str

## String concatenation

- `+` operator

In [3]:
'Hello' + '_' + "World"

'Hello_World'

In [ ]:
x = 'Hello'

y = "World"

In [ ]:
x + y

In [ ]:
z = 1

In [ ]:
z += 1
# z = z + 1

In [ ]:
z

In [ ]:
x += 'World'

In [ ]:
x

In [ ]:
x = 'Hello'
x += 'World'
# x = x + 'World'
x

Step by step execution of the cell above:

```python 
1. x <- 'Hello' # Hello is assigned to x (x is now an alias to the string 'Hello'

2. x += 'World' # The x += syntax expands to x = x +

3. x = x + 'World' # The right `x` expands to its alias 'Hello'

4. x = 'Hello' + 'World' # The two strings are concatenated

5. x <- 'HelloWorld' # 'HelloWorld' is assigned to x (overwriting its previous value)
```

In [ ]:
"Hello"

In [ ]:
print('Hello')

## Multiline strings

In [ ]:
'''Andre Ribeiro de 
Barros Aguiar'''

In [ ]:
print('''Andre Ribeiro de 
Barros Aguiar''')

In [ ]:
"""Andre Ribeiro de 
Barros Aguiar"""

- `\n` é a representação da quebra de linha (enter)
- `\t` é a representação do TAB

# String multiplication

In [ ]:
x + x + x

In [ ]:
x * 3

In [ ]:
# curiosidade: listas tem o mesmo princípio de concatenação das strings
['p3', 'unp3'] + ['p3', 'unp3']

In [ ]:
['p3', 'unp3'] * 10

In [ ]:
(['p3', 'unp3'] * 10)[4:]

------

# `Joining` a <u>list of strings</u> into a `single string`

In [ ]:
meu_nome = ['Andre','Ribeiro','de', 'Barros','Aguiar']
meu_nome

In [ ]:
# meu_nome[0] + ' ' + meu_nome[1] + ...

In [ ]:
espaco = ' '

In [ ]:
type(espaco)

In [ ]:
espaco.

In [ ]:
espaco.join(meu_nome)

In [ ]:
' '.join(meu_nome)

In [ ]:
'-'.join(meu_nome)

In [ ]:
'*****'.join(meu_nome)

In [ ]:
'->'.join(['Andre','Ribeiro','de', 'Barros','Aguiar'])

In [ ]:
x = 'Happy'
y = 'Puppies'

'-'.join([x, y])

# Special characters

- the `newline` character representation: `\n`
- the `tab` character representation: `\t`

In [ ]:
print('\n'* 3)

In [ ]:
print('\t' * 5 + 'Andre')

# Practical example

In [ ]:
queries = []

tables = ['table_A', 'table_B', 'table_C', 
          'table_D','table_E', 'table_F',
          'table_G','table_H', 'table_I']

In [ ]:
tables

In [ ]:
'''
SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION 
SELECT * FROM table_C ...
'''

In [ ]:
for each_table in tables:
    print(f'''SELECT * FROM {each_table}\nUNION''')

In [ ]:
queries = []

for each_table in tables:
    queries.append(f'SELECT * FROM {each_table}')
queries

In [ ]:
print('\nUNION\n'.join(queries))

In [ ]:
final_query = '\nUNION\n'.join(queries)
print(final_query)

# Measuring the size of strings

In [ ]:
len([1,2,3,4,5,98,1,3,54])

In [ ]:
# len of string
len('Andre')

In [ ]:
len('''Andre 
''')

In [ ]:
# strings are also `iterables`

for each_character in 'Andre Aguiar':
    print(each_character)

In [ ]:
# if I convert a string to a list, I can see what they really are under the hood
list('Andre Aguiar')

In [ ]:
5 in [1, 2, 3, 4, 4, 5, 7, 8, 9]

In [ ]:
'Andre' in 'Andre Ribeiro de Barros Aguiar'

In [ ]:
'Andre Aguiar' in 'Andre Ribeiro de Barros Aguiar'

# Word slicing

In [ ]:
# slicings in lists
x = [1,2,3,566,88,5,5,55576]
x[4:]

In [ ]:
word = 'automobile'

In [ ]:
word[0]

In [ ]:
word[1]

In [ ]:
word[-1]

In [ ]:
# [0, 5) : 0,1,2,3,4
word[:5]

In [ ]:
word[4:]

# Splitting a string

Convert a `string` into a `list`, using a `token` as a separator.

In [ ]:
my_string = 'They ate the - mystery chicken meat. It tasted like          chicken'

In [ ]:
my_string.split()

In [ ]:
# when sep=' ': DO NOT discard empty strings
my_string.split(sep=' ')

In [ ]:
my_string.split('.')

In [ ]:
my_string.split(sep='-')

# Startswith vs Endswith

In [ ]:
my_string = 'There is no business like show business.'

In [ ]:
my_string.startswith('There')

In [ ]:
my_string.endswith('s')

In [ ]:
my_string.endswith('.')

In [ ]:
my_string.startswith('T')

In [ ]:
variables = ['qtd_casa','qtd_boleto','qtd_titulos','vlr_boleto','vlr_titulos','vlr_cartao']

In [ ]:
# how to print only the ones that starts with 'qtd'?

# More string methods.

In [ ]:
c = 'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS.'

In [ ]:
c.capitalize()

In [ ]:
c.lower()

In [ ]:
c.upper()

In [ ]:
c.title()

# Strip

In [ ]:
d = ' I have a tendency to leave trailing spaces.     '

In [ ]:
# strip default, lstrip and rstrip

d.strip()

In [ ]:
d.lstrip()

In [ ]:
d.rstrip()

# Replacing values

In [ ]:
e = 'I thought the movie was wonderful wonderful Wonderful!'

e

In [ ]:
e.replace('movie', 'film')

In [ ]:
e.replace('wonderful','awful')

In [ ]:
e.replace('wonderful','awful', 1)